<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="DelayRepay_BL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="DR_Entities" connectionString="metadata=res://*/DR_Model.csdl|res://*/DR_Model.ssdl|res://*/DR_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\v11.0;initial catalog=DelayRepay;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <applicationSettings>
    <DelayRepay_BL.Properties.Settings>
      <setting name="WebPagesFolder" serializeAs="String">
        <value>C:\Users\Barry\Documents\Visual Studio 2012\Projects\DelayRepay_Service\WebPages</value>
      </setting>
      <setting name="SmtpClient" serializeAs="String">
        <value>smtp.gmail.com</value>
      </setting>
      <setting name="SmtpPort" serializeAs="String">
        <value>587</value>
      </setting>
      <setting name="SmtpUsername" serializeAs="String">
        <value>mrbarrydonaldson</value>
      </setting>
      <setting name="URLMain" serializeAs="String">
        <value>http://realtime.nationalrail.co.uk/cct/sumarr.aspx?T={0}</value>
      </setting>
      <setting name="SaveWebPages" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="URLDetailFragment" serializeAs="String">
        <value>http://realtime.nationalrail.co.uk/cct/</value>
      </setting>
      <setting name="SmtpPassword" serializeAs="String">
        <value>jzpdgfabidqxpzin</value>
      </setting>
    </DelayRepay_BL.Properties.Settings>
  </applicationSettings>
</configuration>